<div class="hero-unit">
  <h2>All Products</h2>
  <%- linkTo('Create a new Product', addProductPath, {class: 'btn pull-right'}); %>
</div>

<div id="products-list">
<% if (products) { %>
<% for (var i = 0, ii = products.length; i < ii; i++) { %>
  <div class="row list-item" id="product-<%= products[i].id; %>">
    <div class="span8">
      <h3><%- linkTo(products[i].name, productPath(products[i].id)); %></h3>
    </div>
    <div class="span4">
      <h3><i class="icon-list-alt"></i><%= products[i].id; %></h3>
    </div>
  </div>
<% } %>
<% } %>
</div>